*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


html,body{
	height: 100%;
}
body{
	background-color: #947a53;
}


/**Divs gerais!*/
.container{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
}

.clear{
	clear: both;
}
/******/

header{
	background-color: #723f3f;
	padding:10px 2% 30px 2%;
}

.logo-1{
	float: left;
	width: 150px;
	height: 60px;
	background-image: url('../imagens/logo1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: purple;*/
}

.logo-2{
	float: right;
	width: 160px;
	height: 60px;
	background-image: url('../imagens/logo2.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: green;*/
}
.cover-form{
	max-width: 1200px;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
.bg{
	position: relative;
	background-image: url(../imagens/bg-form.jpg);
	height: 560px;
	background-size: cover;
	background-position: center;
}
.formcontainer{
	position: absolute;
	margin-right: 40px;
	top: -2.5%;
	right: 30px;
	width: 400px;
	height: 105%;
	box-shadow: 1px 1px 1px rgb(94, 59, 59);
	background-color: rgba(159, 165, 109, 0.692);
}
.formcontainer h2{

	background-color: #947a53;
	padding: 20px 15px;
	color: black;
	font-size: 18px;
	font-weight: normal;
}
.formcontainer form{
	margin: 8px;
}
.formcontainer form p{
	font-size: 17px;
}
form{
	padding: 15px;
	padding-top: 10px;
	
}
form input[type=text]{
	border: 1px solid rgb(88, 54, 54);
	border-radius: 5px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	outline: none;
}
	
.form{
	padding: 20px;
	padding-top: 10px;
}
.button{
	padding-top: 20px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
form input[type=submit]{
	width: 100%;
	height: 45px;
	border-radius: 5px;
	font-size: 25px;
	text-transform: uppercase;
	background-color: #723f3f;
	outline: none;
	cursor: pointer;
	border: none;
}
form input[type=button]:hover{
	background-color: #995c5c;
}
.chamada {
	max-width: 1200px;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	
}
.chamada .container{
	display: inline-block;
	text-align: center;
	background-color: #f5e97d;
	padding: 50px 0;
	width: 100%;
	margin: 0 auto;
}
.chamada .container h2{
	text-align: center;
	width: 96%;
	max-width: 700px;
	text-shadow: 1px 1px 6px red;
	font-size: 35px ;
	display: inline-block ;
	margin: 0 auto;
}
.chamada .container p{
	text-shadow: 1px 1px 6px red;
	font-weight: bold;
	padding-top: 20px;

}
.flexmosaico{
	display: flex;
}
.flexmosaico .item1{
	background-position: center;
	background-size: cover;
	width: 60%;
}
.item2{
	padding: 40px;
	width: 40%;
	background: rgb(121,91,9);
	background: -moz-linear-gradient(90deg, rgba(121,91,9,1) 38%, rgba(230,255,0,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(121,91,9,1) 38%, rgba(230,255,0,1) 100%);
	background: linear-gradient(90deg, rgba(121,91,9,1) 38%, rgba(230,255,0,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#795b09",endColorstr="#e6ff00",GradientType=1);
}
footer{
	width: 100%;
	background-color: #723f3f;
	padding: 16px;
	text-align: center;
}
@media screen and (max-width: 960px) {
	.bg{
		text-align: center;
	}
	.formcontainer{
		position: static;
		display: inline-block;
		margin-right: 0;
		height: auto;
	}
}
@media screen and (max-width: 768px) {
	.flexmosaico{
		display: block;
	}
	.flexmosaico .item1{
		width: 100%;
		padding-top: 80%;
	}
	.item2{
		width: 100%;
		text-align: justify;
	}
}
@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	.logo-1,.logo-2{
		margin-top:10px;
		display: inline-block;
		float: none;
	}
	.bg{
		text-align: center;
	}
	.formcontainer{
		position: static;
		display: inline-block;
		margin-right: 0;
		height: auto;
	}


}